<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.fntj.lib">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <!-- 需要的权限 <<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<< -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- CommonUtil等类的部分功能需要，不需要的功能对应的权限可不复制粘贴 <<<<<< -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application>
        <activity
            android:name="com.fntj.lib.zb.ui.SelectPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WindowCompleteAlpha"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.CutPictureActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.WebViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustResize|adjustUnspecified" />
        <activity
            android:name="com.fntj.lib.zb.ui.EditTextInfoActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan|adjustUnspecified" />
        <activity
            android:name="com.fntj.lib.zb.ui.ServerSettingActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.TopMenuWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.BottomMenuWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.EditTextInfoWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateVisible|adjustResize|adjustUnspecified" />
        <activity
            android:name="com.fntj.lib.zb.ui.PlacePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.DatePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name="com.fntj.lib.zb.ui.TimePickerWindow"
            android:screenOrientation="portrait"
            android:theme="@style/Window"
            android:windowSoftInputMode="stateAlwaysHidden" />
    </application>
</manifest>
